header{
    color:bisque;
}

.main{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.left-content{
    background-color: pink;
    height: 300px;
    width: 300px; 
    position: relative;
}

img{
    position: absolute;
    top: 40px;
    left: 40px;
}

.center-content{
    background-color: violet;
    height: 200px;
    width: 200px;
}

.right-content{
    background-color: indianred;
    height: 200px;
    width: 200px;
}